<html lang="en">

<head>
   {{>headerlink}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello Folks!!👋Myself Neelesh Kumar Singh,</p>
                        <h1> I am a <span class="text_clr"> Full Stack developer, </span> Computer Science graduate.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    {{>footer}}
</body>

</html>